@page
@model IndexModel
@{
    ViewData["Title"] = "Services Health Status";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>System Name</th>
            <th>Status</th>
            <th>Message</th>
            <th>Completed At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var msg in Model.HealthMonitoringMessages)
        {
            <tr>
                <td>@msg.id</td>
                <td>@msg.systemName</td>
                <td>@msg.statusValue</td>
                <td>@msg.systemMessage</td>
                <td>@msg.testCompleted</td>
            </tr>
        }
    </tbody>
</table>
