@page
@model IndexModel
@{
    ViewData["Title"] = "Health Monitoring";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>System Name</th>
            <th>Status</th>
            <th>Message</th>
            <th>Completed At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var msg in Model.HealthMonitoringMessages)
        {
            <tr>
                <td>@msg.Id</td>
                <td>@msg.SystemName</td>
                <td>@msg.StatusValue</td>
                <td>@msg.SystemMessage</td>
                <td>@msg.TestCompleted</td>
            </tr>
        }
    </tbody>
</table>
